<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.starautoassist">
    // User predefined permissions
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA" />


    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.app.matagr.permission.C2D_MESSAGE" />
    <!-- Creates a custom permission so only this app can receive its messages. -->
    <permission
        android:name="com.app.starautoassist.googlemapsv2.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.app.starautoassist.googlemapsv2.permission.MAPS_RECEIVE" />
    //To support all screens
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name=".Others.Starautoassist_Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.LoginActivity"/>
        <activity android:name=".Helper.EditProfilePhoto"/>
        <activity android:name=".Activity.RegisterActivity"
            android:parentActivityName=".Activity.LoginActivity"/>

        <!-- Firebase Notifications -->
        <service android:name=".Services.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Services.FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- ./Firebase Notifications -->
        <!--
     Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/mininotification" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <activity
            android:name="com.facebook.FacebookActivity"
        android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
        android:label="@string/app_name" />
        <provider
            android:authorities="com.facebook.app.FacebookContentProvider203876700441500"
            android:name="com.facebook.FacebookContentProvider"
        android:exported="true" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
        android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel"
            android:value="@string/default_notification_channel_id"/>
        <!-- Goolge API Key -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyB7YEWMLPEgfONfWbsRX1R7IGgUhxXB8Bo" />

        <activity
            android:name=".Activity.Towing_Activity"/>
        <activity
            android:name=".Activity.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ProfileActivity" />
        <activity
            android:name=".Activity.SentRequestActivity"            />
        <activity
            android:name=".Activity.CancelRequestActivity" />
        <activity
            android:name=".Activity.ServiceHistoryActivity"/>
        <activity
            android:name=".Activity.PaymentHistoryActivity" />
        <activity
            android:name=".Activity.VechicleActivity" />
        <activity
            android:name=".Activity.Fuel_Activity"/>
        <activity
            android:name=".Activity.JumpstartActivity"/>
        <activity
            android:name=".Activity.TyreActivity" />
        <activity android:name=".Activity.NotificationServiceActivity"/>
        <service
            android:name=".Services.Tracker_Service"
            android:enabled="true"
            android:exported="true">
        </service>
    </application>

</manifest>